In [2]:
import pandas as pd
from pathlib import Path

In [3]:
jan_data_path = Path("Data/JC-202001-citibike-tripdata.csv")
feb_data_path = Path("Data/JC-202002-citibike-tripdata.csv")
mar_data_path = Path("Data/JC-202003-citibike-tripdata.csv")
apr_data_path = Path("Data/JC-202004-citibike-tripdata.csv")
may_data_path = Path("Data/JC-202005-citibike-tripdata.csv")

jan_data = pd.read_csv(jan_data_path)
feb_data = pd.read_csv(feb_data_path)
mar_data = pd.read_csv(mar_data_path)
apr_data = pd.read_csv(apr_data_path)
may_data = pd.read_csv(may_data_path)

In [4]:
print(f'January 2020: {jan_data.shape}')
print(f'February 2020: {feb_data.shape}')
print(f'March 2020: {mar_data.shape}')
print(f'April 2020: {apr_data.shape}')
print(f'May 2020: {may_data.shape}')

January 2020: (26020, 15)
February 2020: (22962, 15)
March 2020: (17719, 15)
April 2020: (9268, 15)
May 2020: (25077, 15)

In [19]:
# create subsets of csv data
numOfLines = 50
divby = 1000
jan_subset = pd.read_csv(jan_data_path, nrows=(len(jan_data)//divby))
feb_subset = pd.read_csv(feb_data_path, nrows=(len(feb_data)//divby))
mar_subset = pd.read_csv(mar_data_path, nrows=(len(mar_data)//divby))
apr_subset = pd.read_csv(apr_data_path, nrows=(len(apr_data)//divby))
may_subset = pd.read_csv(may_data_path, nrows=(len(mar_data)//divby))

In [6]:
# # insert Month column
# jan_subset.insert(0, "Month", "Jan")
# feb_subset.insert(0, "Month", "Feb")
# mar_subset.insert(0, "Month", "Mar")
# apr_subset.insert(0, "Month", "Apr")
# may_subset.insert(0, "Month", "May")

In [20]:
# create a dataframe of all the subsets and add Month as first column
frames = [jan_subset, feb_subset, mar_subset, apr_subset, may_subset]
df = pd.concat(frames)
# add month column as first column and name it based on the month in the starttime column
df.insert(0, "Month", df['starttime'].str[5:7])
# convert month column value to full month name
df['Month'] = df['Month'].replace(['01', '02', '03', '04', '05'], ['Jan', 'Feb', 'Mar', 'Apr', 'May'])

df.head(None)

,Month,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,Jan,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,Jan,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,Jan,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,Jan,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,Jan,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,May,280,2020-05-01 07:01:10.0150,2020-05-01 07:05:50.6160,3639,Harborside,40.719252,-74.034234,3267,Morris Canal,40.712419,-74.038526,42536,Subscriber,1962,2
13,May,370,2020-05-01 07:10:54.6220,2020-05-01 07:17:05.1960,3203,Hamilton Park,40.727596,-74.044247,3185,City Hall,40.717732,-74.043845,42165,Subscriber,1970,2
14,May,2351,2020-05-01 07:16:59.4960,2020-05-01 07:56:11.3230,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,42400,Subscriber,1959,1
15,May,1135,2020-05-01 07:19:15.8050,2020-05-01 07:38:11.7560,3275,Columbus Drive,40.718355,-74.038914,3191,Union St,40.718211,-74.083639,42295,Customer,1999,1
16,May,403,2020-05-01 07:28:43.9490,2020-05-01 07:35:27.4090,3278,Monmouth and 6th,40.725685,-74.048790,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42441,Subscriber,1979,1

In [7]:
# # create combined csv file
# # combined_data = combined_data.append(feb_subset, ignore_index=True)
# # combined_data = combined_data.append(mar_subset, ignore_index=True)
# # combined_data = combined_data.append(apr_subset, ignore_index=True)

# dfs = []
# dfs.append(feb_subset)
# dfs.append(mar_subset)
# dfs.append(apr_subset)
# dfs.append(may_subset)

# df_combined = pd.concat(dfs, ignore_index=True)
# df_combined.to_csv("combined_data.csv", index=False)

# # create subsets from each csv file
# jan_subset.to_csv("jan_subset.csv")
# feb_subset.to_csv("feb_subset.csv")
# mar_subset.to_csv("mar_subset.csv")
# apr_subset.to_csv("apr_subset.csv")
# may_subset.to_csv("may_subset.csv")

In [8]:
# # create groupby start station name with number of rows for each station
# grp = apr_data.groupby("start station name").size()

# # df_trips = grp.map("{:,}".format).to_frame("Trips")
# grp.to_csv("apr_startstations.csv")
# # df_trips = grp.to_frame("Trips").sort_values(["Trips"], ascending=False)
# # df_trips.head(None)

In [9]:
# # jan_data.sort_values("start station name", inplace=False)
# # janfilter = jan_data["start station name"]=="Astor Place"
# # janfilter.count()
# # jancount = jan_data[(jan_data["start station name"]=="Astor Place")]
# # groupby start station name with number of rows for each station
# jan_grouped = jan_data.groupby("start station name").count()
# jan_grouped = jan_grouped.sort_values("tripduration", ascending=False).reset_index()
# # include only station name and number of rows
# jan_grouped = jan_grouped[["start station name", "tripduration"]]
# jan_grouped.head(10)

In [10]:
# # get number of unique stations
# start_ids = jan_data.groupby(["start station name"]).count()
# end_ids = jan_data.groupby(["end station name"])
# print(len(start_ids))
# print(len(end_ids))
# start_ids.head()